* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: rgba(40, 58, 90, 0.9);
    position: fixed;
    z-index: 1;
}


.nav-container {
    display: flex;
    padding: 0 12px;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
}


.dropdown-icon-container {
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

.title {
    margin-right: auto;
    text-decoration: none;
    color: white;
}

.nav-bar a {
    padding: 18px 15px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: .3s;
}

.nav-content {
    padding: 8px 25px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
    background-color: #47B2E4;
    border-radius: 50px;
    margin-right: 15px;
    transition: background .3s;
}





.main {
    width: 100%;
    position: relative;
}

#main-section {
    background-color: #37517e;
    width: 100%;
    min-height: 80vh;
    position: relative;
    padding: 120px 0 60px 0;
}

.flex-container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.flex-container-left-side {
    width: 50%;
}

.flex-container-right-side {
    width: 50%;
    padding: 0 12px;
    margin-top: 24px;

}

@keyframes hero-img {
    0% {
        transform: translate(0px, 18px);

    }


    100% {
        transform: translate(0px, -5px);
    }

}

.flex-container-right-side img {
    width: 100%;
    height: auto;
    animation-name: hero-img;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.flex-container-left-side h1 {
    color: white;
    margin: 0;
    font-size: 48px;
    font-weight: 700;

}

.flex-container-left-side p {
    color: white;
    margin: 5px 0 30px 0;
    font-size: 22px;
    font-weight: 600;
}

.flex-container-btns {
    width: 100%;
    height: auto;
    display: flex;
}

.flex-container-btns a {
    color: white;
    text-decoration: none;
}

.active {
    background-color: #47B2E4;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 28px 12px 28px;
    border-radius: 50px;
    transition: background .3s;
}



.flex-container-btns-watch-video {
    margin-left: 25px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: .3s;
}

.dropdown {
    display: none;
}

.nav-bar .nav-bar-active {
    color: #47B2E4;
}

.nav-bar-dropdown {
    position: relative;
}

.nav-bar-sub-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 12%;
    width: 190px;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.nav-bar-sub-dropdown>div {
    padding: 10px 20px;
    font-size: 15px;
    color: black;
    text-align: left;
    transition: color .3s;
}

.deep-sub-dropdown {
    display: none;
    padding: 10px 0;
    position: absolute;
    background-color: white;
    width: 200px;
    top: 50px;
    right: 100%;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.deep-sub-dropdown div {
    padding: 10px 20px;
    font-size: 15px;
    color: black;
    text-align: left;
}

.slider-section {
    background-color: #f5f6f8;
    padding: 12px 0;

}

.slider-container {
    padding: 0 12px;
    margin: 0 auto;
}

.slider-content {
    display: flex;
    padding: 10px 0;
    align-items: center;
    overflow: hidden;
}


.slider-content div img {
    padding: 0 10px;
    width: 120px;
    font-size: 100px;
    transition: .3s;
}

@keyframes slideshow {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(-120, 0px);
    }

    50% {
        transform: translate(-240px, 0px);
    }

    75% {
        transform: translate(-360px, 0px);
    }

    100% {
        transform: translate(-480px, 0px);
    }
}

.slider-content div {
    width: 116px;
    margin-right: 120px;
    animation-name: slideshow;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

#about-info {
    padding: 60px 0;
}

.about-info-heading {
    padding: 0 12px 55px;
    margin: 0 auto 0 auto;
    text-align: center;

}

.about-info-heading h2 {
    font-size: 32px;
    color: #37517e;
    padding-bottom: 20px;
    margin: 0;
}

.heading-border-bottom {
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.border-bottom-one,
.border-bottom-three {
    width: 50px;
    height: .7px;
    opacity: .6;
    background-color: #444;

}

.border-bottom-two {
    width: 60px;
    height: 3px;
    background-color: #47B2E4;

}

.about-info-flex-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.about-info-flex-container-left-side {
    width: 50%;
    padding: 0 12px;
    margin-top: 24px;
}

.about-info-flex-container-right-side {
    width: 50%;
    padding: 0 12px;
    margin-top: 24px;
}

.about-info-flex-container-left-side>p {
    margin: 0 0 16px 0;
}

.about-info-flex-container-right-side>p {
    padding: 0 0 16px 0;
    margin: 0 0 16px 0;
}

.about-info-flex-container-right-side a {
    text-decoration: none;
    color: #47B2E4;
    border: 2px solid #47B2E4;
    padding: 8px 28px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all .3s;

}

.about-info-flex-container-left-side-list {
    display: flex;
    flex-direction: column;
}

.about-info-flex-container-left-side-list p {
    margin: 0 0 12px 0;
}

.middle-content-container {
    width: 100%;
    background-color: #f5f6f8;
    padding: 30px 0;
}

.middle-content-flex-container {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0 12px;
}

.middle-content-flex-container-left-side {
    width: 60%;
    margin: 24px 0 0 0;
    padding: 0 12px;
}

.middle-content-flex-container-right-side {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.middle-content-flex-container-right-side img {
    max-width: 70%;
    max-height: 70%;
}

.middle-content-flex-container-left-side-div {
    padding: 0 48px;
}

.middle-content-flex-container-left-side-div>p {
    opacity: .7;
}

.middle-content-flex-container-left-side-div-01 {
    position: relative;
}

.middle-content-flex-container-left-side-div-wrapper {
    padding: 0 48px;
}

.middle-content-flex-container-left-side-div h4 {
    font-size: 34px;
    font-weight: 400;
    color: #37517e;
    margin: auto 0 8px 0;
}

.middle-content-flex-container-left-side-div p {
    color: #444;
}

.middle-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.middle-content-sub-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.middle-content h4 {
    position: relative;
    left: 3%;
    color: #37517e;
    transition: color .3s;
    width: 90%;
    transition: .3s;
}

.middle-content h4 span {
    padding-right: 5px;
    color: #47B2E4;
}

.middle-content-flex-container-left-side-paragraph-01,
.middle-content-flex-container-left-side-paragraph-02,
.middle-content-flex-container-left-side-paragraph-03 {
    display: none;
    width: 90%;
    margin-left: 3%;
}

.middle-content-flex-container-left-side-paragraph-01 p,
.middle-content-flex-container-left-side-paragraph-02 p,
.middle-content-flex-container-left-side-paragraph-03 p {
    margin-top: 0;
}

.skills-section {
    width: 100%;
    padding: 60px 0;
}

.skills-section-flex-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.skills-section-left-side {
    width: 50%;
    padding: 0 12px;
    display: flex;
    text-align: center;
}

.skills-section-left-side img {
    width: 100%;
}

.skills-section-right-side {
    width: 50%;
    padding: 0 12px;
}

.skills-section-right-side h4 {
    font-size: 32px;
    color: #37517e;
    margin: 0 0 8px 0;
}

.skills-section-right-side em {
    margin-bottom: 16px;
    opacity: .6;
}

.progress-bar-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.progress-bar-html {
    width: 100%;
    height: 10px;
    background-color: #37517e;
}

.progress-bar-title-container {
    margin-bottom: 16px;
}

.progress-bar-css,
.progress-bar-javascript,
.progress-bar-photoshop {
    background-color: #EAEDF2;
    width: 100%;
    height: 10px;
}

.progress-bar-css div {
    background-color: #37517e;
    width: 90%;
    height: 10px;
}

.progress-bar-javascript div {
    background-color: #37517e;
    width: 75%;
    height: 10px;
}

.progress-bar-photoshop div {
    background-color: #37517e;
    width: 55%;
    height: 10px;
}

.services-section {
    background-color: #f5f6f8;
    width: 100%;
    padding: 60px 0;
}

.services-section-header {
    text-align: center;
    padding: 0 12px 60px;
}

.services-section-header>p {
    margin-bottom: 0;
}

.services-section-header h2 {
    margin-top: 0;
    font-size: 33px;
    color: #37517e;
    margin-bottom: 20px;
}

.services-section-flex-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.services-section-box-flex {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
}

.services-section-box-flex i {
    color: #47B2E4;
    font-size: 35px;
}

.services-section-box-flex h4 {
    margin: 14 0 14px 0;
    transition: .6s;
}

.services-section-box-flex p {
    margin: 0;
}

.services-border-bottom .border-bottom-one,
.services-border-bottom .border-bottom-three {
    height: .9px;
    opacity: .4;
}

.services-section-flex-container-box {
    background-color: white;
    margin: 0 12px;
    width: 25%;
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, .1);
    transition: .6s;
}

.services-section-flex-container-box:hover {
    transform: translateY(-10px);
}

.services-section-flex-container-box:hover .services-section-box-flex h4 {
    color: #47B2E4;
}















.nav-bar>a:hover {
    color: #47B2E4
}

.nav-content:hover,
.active:hover {
    background-color: #44A3D5;
}

.flex-container-btns-watch-video:hover {
    color: #47B2E4;
}

.nav-bar-dropdown:hover .nav-bar-sub-dropdown {
    display: block;
}

.nav-bar-sub-dropdown div:hover {
    color: #47B2E4;
}

.deep-dropdown:hover .deep-sub-dropdown {
    display: block;
}

.slider-content div img:hover {
    transform: scale(1.1, 1.1);
}

.about-info-flex-container-right-side a:hover {
    color: white;
    background-color: #47B2E4;
}

.about-info-flex-container-right-side a:hover i {
    transform: translate(5px, 0);
}

.middle-content:hover h4 {
    color: #47B2E4;
}

.middle-content:hover .fa-chevron-right {
    color: #47B2E4;
    transform: rotate(90deg);
}

.middle-content-flex-container-left-side-div-01:hover .middle-content-flex-container-left-side-paragraph-01 {
    display: block;
    color: #444;
}

.middle-content-flex-container-left-side-div-02:hover .middle-content-flex-container-left-side-paragraph-02 {
    display: block;
    color: #444;
}

.middle-content-flex-container-left-side-div-03:hover .middle-content-flex-container-left-side-paragraph-03 {
    display: block;
    color: #444;
}









@media screen and (min-width: 990px) {
    .flex-container {
        max-width: 960px;

    }

    .slider-container {
        max-width: 900px;
    }

    .about-info-flex-container {
        max-width: 960px;
    }

    .skills-section-flex-container {
        max-width: 900px;
    }



}

@media screen and (min-width: 1200px) {
    .flex-container {
        max-width: 1120px;
    }

    .deep-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slider-container {
        max-width: 1120px;

    }

    .about-info-flex-container {
        max-width: 1120px;
    }

    .skills-section-flex-container {
        max-width: 1120px;
    }

    .services-section-flex-container {
        max-width: 1140px;
    }
}


@media screen and (min-width: 1400px) {
    .flex-container {
        max-width: 1320px;
    }

    .slider-container {
        max-width: 1320px;

    }

    .about-info-heading {
        max-width: 1320px;
    }

    .about-info-flex-container {
        max-width: 1320px;
    }

    .skills-section-flex-container {
        max-width: 1350px;
    }

    .services-section-flex-container {
        max-width: 1320px;
    }


}

@media screen and (max-width: 1200px) {
    .dropdown-icon-container {
        display: inline-block;
    }

    .main-section-navbar {
        display: none;
    }

    .services-section-flex-container {
        max-width: 960px;
        flex-wrap: wrap;

    }

    .services-section-flex-container-box {
        width: 45%;
        margin: 12px 12px;
    }
}





@media screen and (max-width: 990px) {
    .flex-container {
        flex-direction: column-reverse;
        max-width: 720px;
    }

    .flex-container-right-side {
        width: 100%;
        height: auto;
    }

    .flex-container-left-side {
        width: 100%;
        height: auto;
        margin-top: 24px;
    }

    .slider-container {
        max-width: 650px;
    }

    .about-info-flex-container {
        max-width: 785px;
        flex-direction: column;
    }

    .about-info-flex-container-left-side,
    .about-info-flex-container-right-side {
        width: 100%;
    }

    .middle-content-flex-container {
        flex-direction: column-reverse;
    }

    .middle-content-flex-container-left-side,
    .middle-content-flex-container-right-side {
        width: 100%;
    }

    .skills-section-flex-container {
        flex-direction: column;
        max-width: 700px;
    }

    .skills-section-left-side {
        width: 100%;
        margin-bottom: 20px;
    }

    .skills-section-right-side {
        width: 100%;
    }

    .services-section-flex-container {
        max-width: 770px;
    }





}

@media screen and (max-width: 770px) {
    .flex-container {
        max-width: 530px;
    }

    .flex-container-left-side {
        width: 100%;
        height: auto;

    }

    .flex-container-right-side {
        width: 100%;
        height: auto;

    }

    .about-info-flex-container {
        max-width: 635px;
    }

    .skills-section-flex-container {
        max-width: 530px;
    }

    .services-section-flex-container {
        max-width: 550px;
    }

    .services-section-flex-container-box {
        width: 100%;
    }


}

@media screen and (max-width: 640px) {


    .flex-container-left-side {
        text-align: center;

    }

    .flex-container-btns {
        justify-content: center;
    }

    .flex-container-left-side h1 {
        font-size: 28px;
    }

    .flex-container-left-side p {
        font-size: 18px;
    }

    .slider-container {
        max-width: 400px;
    }

    .about-info-flex-container {
        max-width: 495px;
    }

    .middle-content-flex-container-left-side-div,
    .middle-content-flex-container-left-side-div-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 390px) {
    .slider-container {
        max-width: 150px;
    }

}